workflows/kestra/submit-and-poll.yaml
id: paperclip-native-submit-and-poll
namespace: paperclip_agent_platform.examples
description: Reconcile one native Paperclip issue and poll its heartbeat run.

inputs:
  - id: paperclip_base_url
    type: STRING
    required: true
  - id: company_id
    type: STRING
    required: true
  - id: project_id
    type: STRING
    required: true
  - id: agent_id
    type: STRING
    required: true
  - id: task
    type: STRING
    required: true

tasks:
  - id: existing
    type: io.kestra.plugin.core.http.Request
    uri: "{{ inputs.paperclip_base_url }}/api/companies/{{ inputs.company_id }}/issues?projectId={{ inputs.project_id }}"
    method: GET

  - id: create
    type: io.kestra.plugin.core.http.Request
    runIf: >-
      {{ (outputs.existing.body | jq('[(if type == "array" then . else .data end)[] | select((.title // "") | contains("[kestra:' ~ execution.id ~ ']"))] | length') | first) == 0 }}
    uri: "{{ inputs.paperclip_base_url }}/api/companies/{{ inputs.company_id }}/issues"
    method: POST
    contentType: application/json
    body: |
      {
        "title": "[kestra:{{ execution.id }}] Native Paperclip task",
        "description": {{ ("Durable marker: kestra:" ~ execution.id ~ "\n\n" ~ inputs.task) | json }},
        "status": "todo",
        "priority": "medium",
        "projectId": {{ inputs.project_id | json }},
        "assigneeAgentId": {{ inputs.agent_id | json }}
      }

  - id: reconciled
    type: io.kestra.plugin.core.http.Request
    uri: "{{ inputs.paperclip_base_url }}/api/companies/{{ inputs.company_id }}/issues?projectId={{ inputs.project_id }}"
    method: GET

  - id: assert_unique
    type: io.kestra.plugin.core.execution.Assert
    conditions:
      - >-
        {{ (outputs.reconciled.body | jq('[(if type == "array" then . else .data end)[] | select((.title // "") | contains("[kestra:' ~ execution.id ~ ']"))] | length == 1') | first) == true }}
    errorMessage: The durable Kestra marker must resolve to exactly one Paperclip issue.

  - id: wait
    type: io.kestra.plugin.core.flow.LoopUntil
    condition: >-
      {{ (outputs.issue.body | jq('.status') | first) isIn ['done', 'blocked', 'cancelled'] or (outputs.runs.body | jq('if length == 0 then "" else (sort_by(.createdAt) | last | .status) end') | first) isIn ['succeeded', 'failed', 'cancelled', 'timed_out'] }}
    checkFrequency:
      interval: PT10S
      maxDuration: PT35M
      maxIterations: 210
    failOnMaxReached: true
    tasks:
      - id: issue
        type: io.kestra.plugin.core.http.Request
        uri: "{{ inputs.paperclip_base_url }}/api/issues/{{ outputs.reconciled.body | jq('[(if type == \"array\" then . else .data end)[] | select((.title // \"\") | contains(\"[kestra:' ~ execution.id ~ ']\"))][0].id') | first }}"
        method: GET
      - id: runs
        type: io.kestra.plugin.core.http.Request
        uri: "{{ inputs.paperclip_base_url }}/api/issues/{{ outputs.reconciled.body | jq('[(if type == \"array\" then . else .data end)[] | select((.title // \"\") | contains(\"[kestra:' ~ execution.id ~ ']\"))][0].id') | first }}/runs"
        method: GET

outputs:
  - id: paperclip_issue_id
    type: STRING
    value: "{{ outputs.issue.body | jq('.id') | first }}"
  - id: paperclip_heartbeat_run_id
    type: STRING
    value: "{{ outputs.runs.body | jq('sort_by(.createdAt) | last | .id') | first }}"
